.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card {
    background-color:  rgb(31, 31, 31);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    height: 20vh;
    width: 65vh;    
    align-items: flex-start;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
    color: white;
    position: relative;
  }
  @media (max-width: 950px) { /* Beispiel-Breite für Tablets, passe dies an deine Bedürfnisse an */
    .card {
      width: 60vw; /* Setze die Breite auf 80% der Bildschirmbreite */
      /* Andere Anpassungen für das Erscheinungsbild bei kleiner Bildschirmgröße */
    }
  }
  /* Karte vergrößern, wenn der Mauszeiger darüber schwebt */
.card:hover {
  transform: scale(1.1);
}

/* Karte vergrößern, wenn sie den Fokus erhält */
.card:focus {
  transform: scale(1.1);
  outline: none; /* Entfernen Sie den standardmäßigen Fokus-Rahmen, falls gewünscht */
}
  .card-icon {
    /* font-size: 32px; */
    position: absolute;
    top: 16px;
    left: 16px;
  }
  
  .card-title {
   margin-top: 8vh;
   font-size: 22px
  }
  
  .card-amount {
    font-size: 30px; /* Adjust the size as needed */
    position: absolute;
    top: 3vh;
    right: 16px;
  }
  