:root {
	/* --primary: #00c8ff; */
	--primary:#08edb3;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	/* --dark: #; */
	/* --dark-alt: #202B3E; */
	--dark-alt: #121212;
	--sucess: #22ff00;
	--error: red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}

.App {
	padding: 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

.todo {
	position: relative;
	background-color: rgb(31, 31, 31);
	padding: 32px;
	height: auto;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.todo-duedate { 
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	opacity: 0.7;
}

.todo:hover {
	opacity: 0.8;
	background-color: rgb(58, 58, 58);
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	border-radius: 50%;
	transition: 0.4s;
	color: var(--dark-alt);
}

.todo.is-complete .checkbox {
	color: var(--sucess);
}

.todo .text {
	font-size: 20px;
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.todo .delete-todo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.description {
	color: white;
	opacity: 0.7;
	font-size: 15px;
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
	color: white;
	background-color: var(--primary);
	background-image: linear-gradient(to bottom right, var(--primary), rgb(142, 168, 161));
	cursor: pointer;
	z-index: 2;
}

.add-todo-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #FFF;
	padding: 16px;
	border-radius: 16px;
	width: 100%;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
	z-index: 2;
}